@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* univarsal style */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
:root{
  --orange-2:#cd9681;
  --orange:#F15B22;
  --dark-1:#151414;
  --dark-2:#444343;
  --white-1:#F8F8F8;
  --white-2:#FFF;
}
/* Started Header section */
header{
  width: 100%;
  height: 810px;
  background-image: url('images/banner/banner1.png');
  background-repeat: no-repeat;
  background-size: 100% ;
  background-position: center;
  
}
/* header div */
.header-title{
  width:70%;
  height: 810px;
  margin: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: end;
}
/* header title */
.header-title h1{
  color: var(--dark-1);
  font-size: 65px;
  font-weight: 700;
  width: 525px;
}
/* title paragraph */
.header-title p{
  color: var(--Dark-02);
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 495px;
margin-top: 25px;
}

/* header button */
.header-btn button{
  border-radius: 5px;
  background: var(--orange);
  width: 160px;
  height: 64px;
  color: #FFF;
font-size: 20px;
font-weight: 600;
margin-top: 55px;
border: none;
}
/* header closed */
/* Main body Start */
/* persons sections */
main{
  width: 70%;
  margin:auto
}

.person{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
 
}

.person img{
  width: 450px;
}

.person h2{
  color: var(--Dark-01);
font-size: 40px;
font-weight: 700;
width: 290px;
}
.person p{
  width:415px;
  color: var(--Dark-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  margin: 24px 0 16px 0;
}

.person ul li{
  list-style: none;
  color: var(--Dark-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}
/* Person Sections end */
/* Plans sections started */
.plans-title{
  color: var(--Dark-01);
  font-size: 40px;
  font-weight: 700;
  margin: 140px 0 50px 0;
  text-align: center;
}
.plans{
  display: flex;
  justify-content: space-between;
  gap:30px;
  margin-bottom: 135px;
}
.plans img{
  width:90px ;
}
.plans div{
  text-align: center;
}
.plans h3{
  color: var(--Dark-01);
  font-size: 30px;
  font-weight: 700;
}
.plans p{
  color: var(--Dark-03);
font-size: 25px;
font-weight: 500;
} 
/* plans Sections end */
/* Hand Watch Image */
.hand-watch{
  background-image: url('images/gradient2.png'),url('images/watch.png');
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:65px 0 0 65px;
  margin-bottom: 130px;
}
.hand-watch h3{
  color: #FFF;
 font-size: 40px; 
 font-weight: 700; 
 
 max-width: 459px;
}
.hand-watch button{
  color: var(--orange);
  text-align: center;
font-size: 20px;
font-weight: 600;
padding:20px 35px;
background: #fff;
border-radius: 5px;
border: none;
}
/* Hand Watch Image section end */
/* Footer Section */

footer{
  background:var(--dark-1) ;
  width: 100%;
  height: 575px;
  color:#fff;
  display: flex;
  align-items: center;
}

/* future div */
.footer-container{
  width:70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap:30px;
}
.footer-container h4{
  color: #F8F8F8;
  font-size: 45px;
  font-weight: 700;
}
.footer-container p{
  max-width: 485px;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin: 15px 0 24px;
}
.footer-container ul{
  display: flex;
  gap:30px;

}
.footer-container ul li{
  list-style: none;
}

/* input div+submit btn */
.email h6{
  font-size: 25px;
  font-weight: 600;
}
.email input[type=email]{
  color: #F3F3F3;
font-size: 18px;
font-weight: 400;
padding:20px 0 20px 20px;
margin-top: 30px;
width: 325px;
background-color: var(--dark-1);
border: 1px solid #fff;
}
.email input[type=submit]{
  color: var(--orange);
font-size: 20px;
font-weight: 600;
padding: 20px;
border: none;
display: block;
margin-top: 20px;
}