@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* univarsal style */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
:root{
  --orange-2:#cd9681;
  --orange:#F15B22;
  --dark-1:#151414;
  --dark-2:#444343;
  --white-1:#F8F8F8;
  --white-2:#FFF;
}
/* Started Header section */
header{
  width: 100%;
  height: 810px;
  background-image: url('images/banner/banner1.png');
  background-repeat: no-repeat;
  background-size: 100% 810px;
  
}
/* header div */
.header-title{
  width:70%;
  height: 810px;
  margin: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: end;
}
/* header title */
.header-title h1{
  color: var(--dark-1);
  font-size: 65px;
  font-weight: 700;
  width: 525px;
}
/* title paragraph */
.header-title p{
  color: var(--Dark-02);
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 495px;
margin-top: 25px;
}

/* header button */
.header-btn button{
  border-radius: 5px;
  background: var(--orange);
  width: 160px;
  height: 64px;
  color: #FFF;
font-size: 20px;
font-weight: 600;
margin-top: 55px;
border: none;
}
/* header closed */
/* Main body Start */
main{
  width: 70%;
  margin:auto
}

.person{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
 
}

.person img{
  width: 450px;
}

.person h2{
  color: var(--Dark-01);
font-size: 40px;
font-weight: 700;
width: 290px;
}
.person p{
  width:415px;
  color: var(--Dark-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  margin: 24px 0 16px 0;
}

.person ul li{
  list-style: none;
  color: var(--Dark-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}
